:root {
  --bs-body-font-size: 14px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-primary;
  font-size: 18px;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: $body-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading;
  font-weight: 700;
}
h1 {
  font-size: 26px;
  line-height: 31.2px;
  span {
    font-size: 18px;
    line-height: 21.6px;
  }
}
img {
  width: 100%;
  height: auto;
}
