.leya-btn {
  a {
    background: $primary-color;
    color: $light;
    padding: 12px 20px;
    font-weight: 400;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    span {
      svg {
        fill: #fff;
        width: 20px;
      }
    }
  }
}

// secondary more button
.secondary-btn {
  a {
    font-size: 14px;
    text-decoration: underline;
    text-transform: uppercase;
    color: $secondary-color;
    font-weight: 400;
  }
}
