// carousel navition arrow
.swiper-button {
  &:after {
    font-size: 16px !important;
    color: $secondary-color;
  }
}
.swiper-button-next {
  right: 0 !important;
}
.swiper-button-prev {
  left: 0 !important;
}

// Banner sidder
.banner {
  .swiper-button {
    &:after {
      color: $light;
    }
  }
}
.swiper-navigaton {
  display: none;
}

.products-swiper,
  .categories-swiper,
  .slider-wrapper {
    margin-bottom: 50px;
  }
// product carousel
@media (min-width: 768px) {
  .products-swiper,
  .categories-swiper,
  .slider-wrapper {
    overflow: hidden;
    margin: 0px 30px;
    margin-bottom: 0px;
  }
  .swiper-navigaton {
    display: block;
  }
}
// pagination bullets 
.swiper-pagination {
  .swiper-pagination-bullet {
    width: 8px;
    height: 8.4px;
    background: transparent;
    border: 1px solid $heading;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: $heading;
    border: none;
  }
}
