.text-body {
  color: $body-color;
}

.text-body-2 {
  color: #7694a6;
}

.text-accent {
  color: $accent-color !important;
}

.secondary-color {
  color: $secondary-color !important;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spacing-xl {
  padding: 30px 0;
}
@media (min-width: 768px) {
  .spacing-xl {
    padding: 40px 0;
  }
  .w-235 {
    width: 235px !important;
  }
  .h-330 {
    height: 330px;
  }
}

@media (min-width: 992px) {
  .spacing-xl {
    padding: 60px 0;
  }
  .w-lg-235 {
    width: 235px !important;
  }
  .w-235 {
    width: 235px !important;
  }
  .h-330 {
    height: 330px;
  }
  .h-lg-330 {
    height: 330px;
  }
}

.bg-light-blue {
  background: $lightBlue-color;
}
.bg-light-blue-500 {
  background: #bdccd4;
}
.bg-light-blue-page-sub-heading {
  background-color: #c8dce8;
}
.secondary-heading {
  margin-bottom: 15px;
  h2 {
    font-family: $font-secondary;
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  w-lg-72 {
    width: 72%;
  }
  w-lg-28 {
    width: 28%;
  }
}
.gap-30 {
  gap: 30px;
}
.product-price {
  .regular-price {
    color: #000 !important;
  }
}

// cart page & shop page side bar
.cart-summery {
  border: 1px solid #cfe0eb;
  padding: 20px;
  .name,
  .price {
    font-size: 14px;
    color: #3c4b54;
  }
  .price {
    color: #000;
  }
}
.leya-btn-100 a {
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #8f9ea8 !important;
  transition: background 0.5s ease;
  &:hover {
    background-color: #8595a0;
  }
}
.title {
  font-size: 17px;
  color: #3c4b54;
  text-transform: uppercase;
  font-weight: 700;
}
.qupon-wrapper {
  display: flex;
  margin-bottom: 10px;
  input {
    border: 1px solid #d7e8f3;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    border-radius: 0px;
  }
  input[type="submit"] {
    width: 40%;
    background: #3c4b54;
    color: #fff;
    border: 1px solid #3c4b54;
  }
}
.subtitle-box {
  background: #e9f2f5;
  padding: 15px;
  h6 {
    color: #3c4b54;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 500;
  }
}

.custom-check-input {
  appearance: none;
  width: 1em;
  height: 1em;
  border: 1px solid #ced4da;
  border-radius: 0;
  position: relative;
  background-color: white;
  cursor: pointer;
  margin-top: 5px;

  &:checked::before {
    content: "✓";
    position: absolute;
    top: -14px;
    left: 0;
    font-size: 26px;
    color: #dc3545;
    font-weight: 400;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
