.text-body {
  color: $body-color;
}

.text-body-2 {
  color: #7694a6;
}

.text-accent {
  color: $accent-color;
}

.secondary-color {
  color: $secondary-color;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spacing-xl {
  padding: 30px 0;
}
@media (min-width: 768px) {
  .spacing-xl {
    padding: 40px 0;
  }
  .w-235 {
    width: 235px !important;
  }
  .h-330 {
    height: 330px;
  }
}

@media (min-width: 992px) {
  .spacing-xl {
    padding: 60px 0;
  }
  .w-lg-235 {
    width: 235px !important;
  }
  .w-235 {
    width: 235px !important;
  }
  .h-330 {
    height: 330px;
  }
  .h-lg-330 {
    height: 330px;
  }
}

.bg-light-blue {
  background: $lightBlue-color;
}
.bg-light-blue-500 {
  background: #bdccd4;
}
.secondary-heading {
  margin-bottom: 15px;
  h2 {
    font-family: $font-secondary;
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  w-lg-72 {
    width: 72%;
  }
  w-lg-28 {
    width: 28%;
  }
}
.gap-30 {
  gap: 30px;
}
.product-price {
  .regular-price {
    color: #000 !important;
  }
}
