// Image box
.image-box {
  .image-box-body {
    text-align: center;
    h4 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

// Icon box
.icon-box {
  .icon {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #3c4b54;
    border-radius: 100px;
    margin: auto;
    img {
      width: 42px;
    }
  }
  .icon-box-details {
    h4 {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 400;
      color: $body-color-2;
      text-align: center;
      margin-top: 15px;
    }
  }
}

// Categories grid for icon box list
.icon-box-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 25px;
}

@media (min-width: 768px) {
  .icon-box-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 992px) {
  .icon-box-wrapper {
    grid-template-columns: repeat(9, 1fr);
  }
}

// Inline list

.inline-list {
  display: flex;
  gap: 20px;
  .inline-list-item {
    position: relative;
    line-height: 1;
    &:hover {
      .submenu-container {
        margin-top: 5px;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
    a {
      display: inline-flex;
      align-items: center;
      font-size: 13px;
      color: $secondary-color;
      svg {
        stroke: $secondary-color;
        width: 13px;
      }
      .icon-list-text {
        margin-left: 10px;
      }
      .arrow-icon {
        margin-left: 8px;
        i {
          font-size: 11px;
        }
      }
    }
  }
  .inline-list-item:not(:last-child)::after {
    content: "|";
    color: #ccc;
    margin-left: 20px;
  }
}


