// Image box
.image-box {
  .image-box-body {
    text-align: center;
    h4 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

// Icon box
.icon-box {
  .icon {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #3c4b54;
    border-radius: 100px;
    margin: auto;
    img {
      width: 42px;
    }
  }
  .icon-box-details {
    h4 {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 400;
      color: $body-color-2;
      text-align: center;
      margin-top: 15px;
    }
  }
}

// Categories grid for icon box list
.icon-box-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 25px;
}

@media (min-width: 768px) {
  .icon-box-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 992px) {
  .icon-box-wrapper {
    grid-template-columns: repeat(9, 1fr);
  }
}

header {
  .top-bar {
    background: #bdccd4;
  }
  .livr {
    width: 62px;
  }
  .leytura {
    width: 100px;
  }
  .site-logo {
    img {
      width: 240px;
    }
  }
  .menu-wrapper {
    .menu-list {
      display: flex;
      gap: 20px;
      .menu-item {
        position: relative;
        &:not(:last-child)::after {
          content: "|";
          width: 1px;
          height: 20px;
          color: #0000001f;
          margin-left: 20px;
        }
        a {
          font-family: $font-secondary;
          color: #000;
          font-size: 19px;
        }
      }
    }
  }
  .cart-icon {
    .count-indicator {
      background: $accent-color;
      width: 23px;
      height: 23px;
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 100px;
      span {
        font-size: 13px;
        color: $light;
      }
    }
  }
}

.inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  li {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
  }

  li:not(:last-child)::after {
    content: "|";
    color: #ccc;
    margin-left: 20px;
  }
}

