header {
  .top-bar {
    background: #bdccd4;
  }
  .livr {
    width: 62px;
  }
  .leytura {
    width: 100px;
  }
  .site-logo {
    img {
      max-width: 240px;
    }
  }
  .submenu-container {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  // main menu
  .menu-wrapper {
    .menu-list {
      display: flex;
      gap: 20px;
      .menu-item {
        position: relative;
        display: inline-block;
        width: fit-content;
        &:not(:last-child)::after {
          content: "|";
          width: 1px;
          height: 20px;
          color: #0000001f;
          margin-left: 20px;
        }
        .menu-link {
          position: relative;
          font-family: $font-secondary;
          color: #000;
          font-size: 19px;
          &:after {
            content: "";
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 0%;
            border-bottom: 2px solid $accent-color;
            transition: width 0.4s ease;
          }
          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
      .active {
        .menu-link {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
  .cart-icon {
    position: relative;
    .count-indicator {
      background: $accent-color;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      position: absolute;
      top: -8px;
      left: 20px;
      span {
        font-size: 11px;
        color: $light;
      }
    }
    .icon {
      width: 29px;
      cursor: pointer;
    }
  }

  .mobile-navbar {
    .mobile-site-logo {
      img {
        width: 125px;
      }
      .logo-list {
        display: flex;
        flex-direction: column;
        gap: 25px;
        li {
          display: flex;
          flex-direction: row;
          gap: 13px;
          width: fit-content;
          align-items: center;
          &:hover {
            .circle {
              border: 2px solid $accent-color;
            }
          }
          .active {
            border: 2px solid $accent-color !important;
          }
          .circle {
            border: 2px solid transparent;
            padding: 4px;
            border-radius: 50px;
            transition: border 0.3s ease;
            span {
              width: 12px;
              height: 12px;
              border-radius: 50px;
              background: $accent-color;
              display: block;
            }
          }
          .link {
            margin-left: 20px;
            color: $accent-color;
          }
        }
      }
    }
    .mobile-menu-toggle {
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: none;
      background: none;
      svg {
        width: 35.2948px;
        fill: none;
        stroke: #3c4b54;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 3px;
      }
    }
    .icon-wrapper {
      .user {
        cursor: pointer;
        svg {
          width: 20.5865px;
          fill: none;
          stroke: #3c4b54;
          stroke-miterlimit: 10;
          stroke-width: 2px;
        }
      }
      .favorite-list {
        a {
          svg {
            width: 29.5591px;
            fill: none;
            stroke: #3c4b54;
            stroke-miterlimit: 10;
            stroke-width: 1.8px;
          }
        }
      }
      .favorited {
        a {
          svg {
            path {
              fill: $accent-color !important;
              stroke: $accent-color !important;
            }
          }
        }
      }
      .cart {
        margin-right: 10px;
        svg {
          width: 29.763px;
          fill: $secondary-color;
        }
      }
    }
  }
  .mobile-submenu-container {
    transform: translateY(50px);
  }
  .submenu-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(40px);
  }
  .modal-bottom {
    position: fixed;
    bottom: -1px;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin: 0 20px;
    transition: transform 0.3s ease-out;
  }
  .modal-content {
    border-radius: 10px 10px 0px 0px !important;
  }
}

@media (max-width: 768px) {
  .search-wrapper {
    margin-top: -20px;
    margin-right: 11px;
  }
}
