.mega-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  background: #fff;
  position: absolute;
  width: 1180px;
  padding: 20px;
  border: 1px solid $border-color;
  margin-top: 8px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  .menu-box-wrapper {
    .menu-box {
      .menu-heading {
        display: inline;
        padding-bottom: 3px;
        text-transform: uppercase;
        font-size: 13px;
        color: #000;
        border-bottom: 1px solid red;
      }
      .list {
        margin-top: 13px;
      }
      .product-thumbnail {
        margin: auto;
        width: 170px;
      }
    }
  }
}
