.account-wrapper {
  .account-tablist {
    border: 1px solid #3c4b54;
    padding: 0;
    min-width: 240px;
    .tab-heading {
      font-size: 18px;
      color: #3c4b54;
      font-weight: 600;
      text-transform: uppercase;
      padding: 15px;
      border-bottom: 0.5px solid #3c4b54;
    }
    .nav-link {
      font-size: 14px;
      color: #3c4b54;
      display: flex;
      gap: 10px;
      border-bottom: 0.5px solid #dfe6eb;
      border-radius: 0;
      width: 100%;
      font-weight: 400;
      padding: 10px 20px;
      &:hover {
        background-color: #e9f2f5;
      }
      .tab-icon svg {
        width: 13px;
        fill: none;
        stroke: #4e626e;
        stroke-miterlimit: 10;
        stroke-width: 0.75px;
      }
    }
    .active {
      background-color: #e9f2f5;
      .tab-icon svg {
        fill: none !important;
        stroke: #4e626e !important;
      }
    }
  }
  .content-wrapper-heading {
    font-size: 18px;
    color: #3c4b54;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
  }
}

// tab content body width
@media (min-width: 996px) {
  #v-pills-personal {
    width: 450px;
  }
  #v-pills-addresses {
    width: 540px;
  }
  #v-pills-orders {
    width: 740px;
  }
  #v-pills-emails {
    width: 850px;
  }
}

.wrapper {
  .form-group {
    position: relative;
    background: #fff;

    label {
      position: absolute;
      top: 16px;
      left: 16px;
      color: #4e626e;
      font-size: 14px;
      pointer-events: none;
      transition: 0.2s ease all;
    }
  }

  .form-control {
    border: 1px solid #7694a6;
    border-radius: 0px;
    padding: 24px 16px 8px;
    font-size: 14px;
    box-shadow: none;
    color: #000;

    &:focus {
      border-color: #7694a6;
      outline: none;
      box-shadow: none;
      color: #000;
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      top: 8px;
      left: 12px;
      font-size: 14px;
      padding: 0 4px;
    }
  }

  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #5a768c;
    font-size: 18px;
  }

  .phone-wrapper {
    display: flex;
  }

  .country-select {
    width: 30%;
    font-size: 14px;
    border: 1px solid #7694a6;
    border-radius: 0px;
    padding: 11px;
    color: #000;

    &:focus {
      border-color: #7694a6;
      outline: none;
      box-shadow: none;
      color: #000;
    }
  }

  .phone-input-wrapper {
    width: 70%;

    .form-control {
      border-left: none;
    }
  }
  .country-select {
    appearance: none; /* Default arrow hide */
    -webkit-appearance: none;
    -moz-appearance: none;

    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%235a768c' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'/></svg>")
      no-repeat right 20px center;
    background-size: 18px;
    padding-right: 35px;
  }

  .radio-group {
    display: flex;
    align-items: flex-start;

    input {
      margin-top: 5px;
    }

    label {
      font-size: 14px;
      color: #000;
      font-weight: 500;
      margin-bottom: 0 !important;

      a {
        color: #3c4b54;
        font-weight: 400;
      }
    }
  }

  .form-html {
    h6 {
      color: #3c4b54;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      margin: 0;
    }

    p {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .form-btn a,
  .submit-btn {
    font-size: 15px;
    color: #3c4b54;
    border: 1px solid #3c4b54;
    border-radius: 0;
    padding: 8px 25px;
    font-weight: 400;
    display: block;
    margin-top: 30px;
    width: 162px;
  }

  .submit-btn {
    background: #3c4b54;
    color: #fff;
    margin-top: 50px;
  }
}

.leya-card {
  position: relative;
  padding: 25px;
  transition: background 0.5s ease;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;

  &:hover {
    background: #e9f2f5;
  }
  .card-heading {
    color: #304852;
    font-weight: 600;
    font-size: 16px;
  }
  p,
  a {
    margin-bottom: 5px;
    color: #304852;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }
  .edit-icon,
  .delete-icon {
    width: 15px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    svg {
      fill: #4e626e !important;
      stroke-width: 0px;
    }
  }
  .edit-icon {
    top: 20px !important;
  }
  .delete-icon {
    bottom: 20px !important;
    color: #4e626e;
  }
}
.leya-card-active {
  background: #e9f2f5;
}

// Product card style
.history-product-card {
  border: 1px solid #7694a6;
  padding: 18px !important;
  .product-card-heading {
    font-size: 14px;
    font-weight: 400;
    color: green;
  }
  .product-card-body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    .product-card-thumbnails {
      // width: 250px;
      .product-card-thumbnail {
        width: 70px;
      }
    }
    .product-card-details span {
      display: block;
      font-size: 14px;
      color: #3c4b54;
    }
  }
}
.text-yellow {
  color: #ff9b28 !important;
}
.product-card-btn a {
  background: #2d4855;
  font-size: 12px;
}

.order-wrapper {
  .order-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .list {
      background: #e9f2f5;
      padding: 13px 15px;
      h5 {
        font-size: 14px;
        font-weight: 600;
        color: #314a54;
        margin-top: 12px;
        span {
          font-weight: 400;
        }
      }
    }
  }
}

.email-card {
  .email-logo {
    width: 90px;
    margin-bottom: 15px;
  }
  h5,
  p,
  label {
    font-size: 13px;
    color: #324a54;
    line-height: 21px;
    margin: 0;
    span {
      font-weight: 400;
    }
  }
  h5,
  label {
    font-weight: 600;
  }
  input {
    margin-top: 5px;
  }
}
.divider {
  width: 100%;
  height: 1px;
}
.dotted {
  border-bottom: 1px dotted #7694a6;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* input  default width */
.input-wrapper .form-control {
  width: 100%;
  padding-right: 40px;
}

.marggin {
  margin-top: 0px !important;
}

.icon-input .form-control {
  width: 100%;
  padding-right: 70px;
  box-sizing: border-box;
}

.icon-input img,
.icon-input i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 4%;
}

.icon-input img {
  right: -41px;
}

