// Banner
.banner {
  background: url('/public/img/banner.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 265px;
}
@media (max-width: 992px) {
  .banner {
    height: 150px !important;
  }
}
@media (max-width: 576px) {
  .banner {
    height: 75px !important;
    padding: 5px 0 !important;
  }
}

/* Tablet (min-width: 768px) */
@media (min-width: 768px) {
  .banner {
    height: 150px;
  }
}

/* Laptop (min-width: 1024px) */
@media (min-width: 1024px) {
  .banner {
    height: 200px;
  }
}

/* Desktop (min-width: 1280px) */
@media (min-width: 1280px) {
  .banner {
    height: 265px;
  }
}

/* ≥300px */
@media (min-width: 300px) {
  .banner {
    height: 100px;
  }
}

/* ≥500px */
@media (min-width: 500px) {
  .banner {
    height: 264px;
  }
}




.align-items-center {
  align-items: center !important;
  margin-top: 0 !important;
}

// Pricing
.pricing-card-wrapper {
  display: inline-block;
  transition: transform 0.3s ease;
    filter: drop-shadow(0 8px 20px rgba(0, 0, 0, 0.15)); /* shadow fix */
}
.pricing-card {
  border-radius: 0 !important;
  font-size: 16px;
  position: relative;
  background: #fff;
  overflow: hidden;
  clip-path: polygon(0 0, calc(121% - 100px) 0, 104% 50px, 100% 100%, 0 100%);
}





.ebook-title {
  font-size: 25px;
  font-weight: 800;
  color: #304a54;
  margin-left: 0;
}

.one-tittle {
  margin-left: 0;
}

.badge-offer {
  background: #ff2d1c;
  color: #fff;
  font-weight: bold;
  padding: 8px 18px;
  border-radius: 0 !important;
  display: inline-block;
  margin: 15px 0;
  font-size: 16px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #222;
}

.note {
  font-size: 13px;
  color: #fff;
  margin-top: 10px;
}

.best-option-card {
  position: relative;
  overflow: hidden;

}

.my-top {
  margin-top: 57px;
}

.icon-design {
  width: 80px;
  height: 80px;
}

.icon-siz {
  width: 100%;
}

.my-border {
  position: relative;
  overflow: hidden;
  border: 10px solid #ff2d1c;
  border-top: 30px solid #ff2d1c;
  background-color:#ff2d1c;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 50px solid #ff2d1c!important;
    border-left: 50px solid transparent;
  }
}

.image-wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;

  .cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
  }
}

.justify-content-center {
  justify-content: center !important;
  padding: 10px 75px;
}

.my-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 15px -32px;
  text-align: left;

  img {
    width: 125px;
    height: auto;
  }

  .ebook-title {
    font-size: 30px;
    font-weight: 600;
    color: #304a55;
    margin: 0 0 0 -20px;
    text-align: left;
    line-height: 30px;
  }
}

.my-con {
  margin: 0;
}
.my-con-tow {
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  color: #304955;
}

.btondan {
  background-color: #ff2d1c;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 10px 8px;
  font-size: 23px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.bnt {
  padding: 25px;
}

.card-top-title {
  color: #fff;
  font-family: 'Times New Roman', Times, serif; /* Times font */
  font-size: 23px;
  line-height: 30px;
  font-weight: 500;
  padding: 10px;
  margin: 0 0 0 30px;
}


// Reasons section
.reasons-section {
  padding: 70px 0;

  .icon i {
    color: #314a54 !important;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  h3,
  .h3 {
    font-size: 30px;
    color: #304954;
    margin-bottom: 34px !important;
  }

  h6 {
    color: #304953;
    font-size: 16px!important;
    font-weight: 500;
  }
}

.text-muted {
    color: #304953 !important;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

.reasons-border {
  border: 0px solid #ddd;
}

.reason-item-tow {
  margin-left: -12px;
}

.pad-item {
   padding-left: 50px !important;
  padding-right: 0 !important;
}


// Product carousel
.product-carousel-tow {
  padding: 80px 0;
}
.colodr {
  color: #31b8c9 !important;
  font-weight: 500;
}
.colodr-tow {
  color: #0da87e !important;
  font-family: 'Times New Roman', Times, serif !important;
  font-weight: 500;
}

// Devices
.devices-section {
  h3 {
    font-size: 23px;
    color: #304953;
  }

  .accordion-button {
    font-weight: 500;
    color: #304953;
    font-size: 20px;
    padding: 16px 0px;
    background-color: transparent !important;
    box-shadow: none !important;

    &::after {
      width: 21px;
      height: 40px;
      color: #304953;
    }
  }

  .accordion-item {
    border: none;
    border-bottom: 1px solid #e6e6e6;
  }

  .accordion-body {
    font-size: 17px !important;
    font-weight: 400;
    color: #314a54;
    padding: 16px 0px;
  }
}

.image-box {
  background-color: #dce8ed;
  display: inline-block;
  padding: 16px 50px !important;
}
.my-counter {
  padding: 0 20px;
}

// FAQ
.faq-section {
  .accordion-button {
    background-color: transparent !important;
    color: #314b55;
    font-weight: 400;
    box-shadow: none !important;
    padding: 16px 0px;

    &:not(.collapsed) {
      color: #314b55;
      background-color: transparent !important;
    }
  }

  .accordion-item {
    border: none;
    border-bottom: 1px solid #ddd;
  }

  .accordion-body {
    font-size: 16px;
    color: #314b55;
    padding: 16px 0px;
  }
}

.special-question {
  font-weight: bold !important;
  color: #314b55 !important;
}

// Responsive
@media (max-width: 992px) {
  .banner {
    height: 300px;

    h4 {
      font-size: 24px;
      margin: 0 0 -20px 50px;
      line-height: 1.3;
      text-align: left;
    }

    .bnt p {
      font-size: 20px;
      margin: 0 50px 0 0;
      text-align: left;
    }

    .btn-danger {
      font-size: 18px;
      padding: 8px 14px;
      margin: 15px 0 0 0;
    }
  }

  .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }

  .pricing-card {
    padding: 20px !important;
  }

  .ebook-title,
  .one-tittle {
    font-size: 22px;
  }

  .badge-offer {
    font-size: 14px;
    padding: 6px 15px;
  }

  .card-top-title {
    font-size: 20px;
    line-height: 28px;
    margin-left: 15px;
  }

  .my-icon {
    margin-left: -15px;

    .ebook-title {
      font-size: 24px;
      margin-left: -15px;
    }
  }

  .my-con-tow {
    font-size: 12px;
    line-height: 14px;
  }

  .btondan {
    font-size: 14px;
    padding: 8px 6px;
  }



  .justify-content-center {
    padding: 10px 50px;
  }
}

@media (max-width: 576px) {
  .banner {
    height: auto;
    padding: 40px 15px;

    h4 {
      font-size: 20px;
      margin: 0 0 10px 0;
      text-align: center;
      line-height: 1.2;
    }

    .bnt p {
      font-size: 16px;
      margin: 0 0 10px 0;
      text-align: center;
    }

    .btn-danger {
      font-size: 16px;
      padding: 8px 12px;
      margin: 0 auto;
      display: inline-block;
    }
  }

  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 25px;
  }

  .pricing-card {
    padding: 15px;
  }

  .ebook-title,
  .one-tittle {
    font-size: 20px;
    text-align: center;
  }

  .badge-offer {
    font-size: 12px;
    padding: 5px 12px;
  }

  .card-top-title {
    font-size: 18px;
    line-height: 25px;
    margin-left: 0;
    text-align: center;
  }

  .my-icon {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    text-align: center;

    img {
      width: 80px;
      height: auto;
      margin-bottom: 10px;
    }

    .ebook-title {
      font-size: 22px;
      margin-left: 0;
      text-align: center;
    }
  }

  .my-con-tow {
    font-size: 11px;
    line-height: 14px;
  }

  .btondan {
    font-size: 13px;
    padding: 8px 12px;
  }


  .pad-item {
    padding-bottom: 20px;
  }

  .devices-section {
    h3,
    .h3 {
      font-size: 17px;
    }
  }

  .justify-content-center {
    padding: 10px 15px;
  }

  .my-top {
    margin-top: 30px;
  }
}


.icon-siz {
    width: 20px;
    height: 20px;
    margin-top: -7px;
}

.custom-section {
  position: relative;
  background: #304a54;
}
.best-label {
    position: absolute;
    top: 0px;
    right: 116px;
    color: #fff;
    font-size: 13px;
    padding: 5px 12px;
    text-transform: uppercase;
    z-index: 10;
    border-radius: 2px;
    font-weight: 500;
}

.pricing-card-tow {
  border-radius: 0 !important;
  font-size: 16px;
  position: relative;
  background: #fff;
  overflow: hidden;

  &.best-option {
    border: 3px solid #ff2d1c;
  }
}

.my-p{
line-height: 17px;
color: #304955;
}

.paddion-o{
  padding: 0px;
}
.color-b {
    color: #212222;
    font-weight: 400;
}
.accordion-item:first-of-type > .accordion-header .accordion-button {
    border-top-left-radius: var(--bs-accordion-inner-border-radius);
    border-top-right-radius: var(--bs-accordion-inner-border-radius);
    padding: 16px 0px;
}

.faq-section {
  padding: 60px 0px 140px 0px;
  font-size: 16px;
}


.reasons-section .reasons-border {
  display: flex;
  align-items: stretch;
}

.reasons-section .image-wrapper,
.reasons-section .pad-item {
  height: 100%;
}

.reasons-section .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #ddd;
  border-right: none;

}

.reasons-section .pad-item {
  background: #fff;
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ddd;
  border-left: none;

}
.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 16px;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}


.custom-content {
  width: 44%;
  padding: 20px;
}

.reason-item .icon img {
  width: 24px;
  height: 24px;
}


/* Tablet responsive (≤992px) */
@media (max-width: 992px) {
  .custom-content {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
  }
}

/* Mobile responsive (≤576px) */
@media (max-width: 576px) {
  .custom-content {
    width: 88.99%;
    margin: 0 auto;
    padding: 10px;
  }

  .reason-item {
    flex-direction: column;
    text-align: center;
  }

  .reason-item .icon {
    margin-bottom: 8px;
  }
}
@media (max-width: 576px) {
  .reasons-section .pad-item {
    border: none;
    width: 80% !important;
  }
}

@media (max-width: 890px) {
  .reasons-section .image-wrapper {
    width: 100% !important;
    height: auto;
  }

  .reasons-section .image-wrapper img {
    height: auto;
    border-right: 1px solid #ddd; /* optional */
  }

  .reasons-section .pad-item {
    width: 100% !important;
    padding: 20px;
    border-top: 1px solid #ddd;
  }
}

@media (max-width: 1200px) {
  .reasons-section .image-wrapper {
    width: 100% !important;
    height: auto;
  }

  .reasons-section .image-wrapper img {
    height: auto;
    border-right: 1px solid #ddd;
  }

  .reasons-section .pad-item {
    width: 100% !important;
    padding: 20px;
    border-top: 1px solid #ddd;
  }
}

@media (max-width: 1200px) {
  .reasons-section .pad-item {
    width: 50% !important;
    padding: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-top: 1px solid #ddd;
  }
}
@media (max-width: 1200px) {
  .reasons-section .image-wrapper img {
    height: 415px;
    border-right: 1px solid #ddd;
  }
}

@media (max-width: 1200px) {
  .reasons-section .pad-item {
    width: 50% !important;
    padding: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border: none !important;
  }
}
@media (max-width: 780px) {
  .reasons-section .pad-item {
    width: 82% !important;
    padding: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border: none !important;
  }
}