// My Account Page Popup and all form popup style here
.modal-heder-none {
  .modal-header {
    border-bottom: none !important;
  }
  .modal-content {
    border-radius: 0;
    border: none;
  }
  .modal-body {
    padding: 30px;
  }
  .btn-close {
    position: absolute ;
    top: 15px ;
    right: 15px ;
  }
}
