// Product overview 2 column seciton
.product-overview {
  max-width: 780px;
  margin: auto;
  .product-thumbnail {
    width: 275px;
    .thumbnail-img {
      img {
        object-fit: cover;
        width: 275px;
        height: 405px;
      }
    }
  }
}

// product  video overview 2 column section
.product-video-overview {
  .product-video {
    video {
      width: 100%;
      height: 250px;
    }
  }
  .product-thumbnail {
    margin-left: 12px;
  }
}
@media (min-width: 768px) {
  .product-video-overview {
    .product-video {
      video {
        height: 250px;
      }
    }
    .product-thumbnail {
      margin-bottom: 29px;
      margin-left: 0px;
      .thumbnail-img {
        img {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .product-video-overview {
    .product-video {
      video {
        height: 438px;
      }
    }
  }
}

.product-title {
  span {
    font-weight: 300;
  }
}

// Product overview 3 column section
.product-video-details {
  .product-video {
    video {
      height: 250px !important;
    }
  }
}
@media (min-width: 768px) {
  .product-video-details {
    .product-thumbnail {
      margin-left: 12px;
    }
    .product-video {
      video {
        height: 330px !important;
      }
    }
  }
}
