.product {
  padding: 15px;
  transition: all 0.4s;
  &:hover {
    background: $lightBlue-color;
  }
  .product-thumbnail {
    height: 242px;
    .thumbnail-img {
      img {
        height: 242px;
        width: 100%;
        object-fit: contain;
        object-position: top;
      }
    }
  }
  .product-details {
    text-align: center;
    .product-title {
      a {
        color: $heading;
        font-size: 15px;
      }
    }
    .product-category {
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .product-price {
      span {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
}

// Global product thumbnail
.product-thumbnail {
  position: relative;
}
