.ribon-wrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top:8px;
}
.ribon {
  background: $ribon-bg-red;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  width: 122px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $light;
  transform: translateX(-12px);
  z-index: 2;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    border-width: 6.4px;
    border-style: solid;
    border-color: #801B15 #801B15 transparent transparent;
  }
  &::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    height: inherit;
    border-width: 10px;
    border-style: solid;
    border-color: $ribon-bg-red transparent $ribon-bg-red $ribon-bg-red;
    border-right: 5px solid transparent;
  }
}

.ribon-2 {
  position: absolute;
  bottom:13px;
  background: $ribon-bg-green;
  &::before {
    border-color: #00542d #00542d transparent transparent !important;
  }
  &::after {
    border-color: $ribon-bg-green transparent $ribon-bg-green $ribon-bg-green;
  }
}

.favorite {
  width: 23.5px;
  height: 23.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid $lightBlue-color;
  border-radius: 100px;
  cursor: pointer;
  margin-right: 8px;
  z-index: 2;
  svg {
    width: 12px;
    fill: transparent;
    stroke: $lightBlue-color;
    stroke-miterlimit: 10;
    stroke-width: 0.5px;
  }
}
.active {
  svg {
    fill: $accent-color !important;
  }
}
