.filter-wrapper {
  #filterAccordion {
    .parent-filter {
      border: none !important;
      .parent-filter-button {
        border: 1px solid $border-color !important;
      }
      .parent-filter-button.collapsed {
        border-bottom: 1px solid $border-color !important;
      }
      .parent-filter-body {
        margin-top: 8px;
        padding: 0 !important;
      }
    }
  }
  .accordion-title {
    font-size: 14px;
    font-weight: 600;
    color: $secondary-color;
    margin-bottom: 10px;
  }

  .form-check-label {
    font-size: 14px;
    color: #314a54;
  }

  .form-check-input {
    border: 1px solid #ced4da;
    border-radius: 0;
    position: relative;

    &:checked {
      background-color: transparent;
      border-color: #ced4da;

      &::before {
        content: "✓";
        position: absolute;
        top: -14px;
        left: 0;
        font-size: 26px;
        color: #dc3545;
        font-weight: 400;
      }

      &::after {
        background-image: none;
      }
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .search-container {
    margin-bottom: 10px;
    padding: 0;
    .input-group {
      box-shadow: none;
      position: relative;
      border: 1px solid #ced4da;
      border-radius: 0;

      &:hover {
        box-shadow: none;
      }

      .form-control {
        border: none;
        padding: 8px 10px;
        font-size: 14px;
        color: #314a54;
        width: 100%;

        &::placeholder {
          color: #6c757d;
        }

        &:focus {
          box-shadow: none;
          transition: none;
        }
      }

      .input-group-text {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border: none;
        padding: 8px 10px;
        cursor: pointer;
        background: none;
        i {
          font-size: 16px;
          color: #495057;
        }
      }
    }
  }

  .accordion-button {
    padding: 0;
    background-color: #fff;
    font-size: 14px;
    color: #314a54;
    &:after {
      background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2030%2017.07'%3E%3Crect%20fill='%233c4b54'%20stroke-width='0'%20x='10.83'%20y='7.1'%20width='21.27'%20height='2.87'%20transform='translate(.25%2017.68)%20rotate(-45)'/%3E%3Crect%20fill='%233c4b54'%20stroke-width='0'%20x='-2.1'%20y='7.1'%20width='21.27'%20height='2.87'%20transform='translate(8.54%2020.61)%20rotate(-135)'/%3E%3C/svg%3E");
      background-position: center 5px;
    }
    &:not(.collapsed) {
      color: #314a54;
      background-color: #fff;
      box-shadow: none;
    }

    &:focus,
    &:hover {
      box-shadow: none;
      background-color: #fff !important;
      color: #314a54 !important;
    }
  }

  .accordion-body {
    padding: 0;
  }

  a.text-primary {
    color: #314a54 !important;

    &:hover {
      color: #314a54 !important;
    }
  }
}

@media (min-width: 768px) {
  .shop {
    .filter-wrapper {
      width: 30%;
      border-right: 1px solid $border-color;
      padding-right: 30px;
      margin-right: 30px;
      .accordion-button {
        &:after {
          transform: rotate(0deg) !important;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .filter-wrapper {
    .accordion-item {
      border: 1px solid $border-color !important;
      border-radius: 0px !important;
      .accordion-button {
        border-bottom: 1px solid $border-color !important;
        padding: 12px !important;
        background: $lightBlue-color !important;
        border-radius: 0 !important;
        &:hover {
          background: $lightBlue-color !important;
        }
      }
      .accordion-title {
        margin-bottom: 0 !important;
      }
      .accordion-body {
        padding: 15px !important;
      }
    }
    .accordion-button.collapsed {
      border-bottom: 1px solid transparent !important;
      background: none !important;
    }
    .filter-actions {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9;
      .btn-clear {
        border: 1px solid $secondary-color;
        border-radius: 0;
        background: $secondary-color;
        color: $light;
        padding: 10.6px 30px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}
