.shop {
  .product-wrapper {
    .info-text {
      margin-top: 20px;
      background: #c8dce8;
      padding: 10px;
      p {
        font-size: 14px;
        text-transform: uppercase;
        color: #000;
        text-align: center;
        margin: 0;
        font-weight: 500;
      }
    }
    .product-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
      margin-top: 20px;
      .product-ad {
        grid-column: span 2;
      }
      .product-thumbnail {
        .thumbnail-img {
          img {
            // height: 260px;
            object-fit: cover;
          }
        }
      }
    }
    .pagination {
      margin-top: 40px;
      .page-link {
        color: #6c757d;
        border: none;
        background-color: transparent;

        &:hover {
          color: $secondary-color;
        }
      }

      .page-item {
        &.active .page-link {
          color: $secondary-color;
          font-weight: bold;
          background-color: transparent;
          border: none;
        }

        &.disabled .page-link {
          color: #adb5bd;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .shop {
    .product-wrapper {
      width: 70%;
      .product-grid {
        .product-thumbnail {
          .thumbnail-img {
            img {
              // height: 303px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .shop {
    .product-wrapper {
      .product-grid {
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        .product-thumbnail {
          .thumbnail-img {
            img {
              // height: 245px;
            }
          }
        }
      }
    }
  }
}
