// Color variables
$primary-color: #6aa161;
$secondary-color: #3c4b54;
$body-color: #4e626e;
$body-color-2: #7694a6;
$heading: #4e626e;
$accent-color: #bc1521;
$lightBlue-color: #e9f2f5;
$light: #fff;
$border-color: #ced4da;
// Typographiy fonts
$font-primary: "Inter";
$font-secondary: "Times";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  xxl: 1200px,
);
