// Color variables
$primary-color: #41A25D;
$secondary-color: #314a54ff;
$body-color: #4e626e;
$body-color-2: #7694a6;
$heading: #4e626e;
$accent-color: #e20614;
$lightBlue-color: #e9f2f5;
$light: #fff;
$border-color: #ced4da;
$ribon-bg-red: #BE1521;
$ribon-bg-green: #078649;

// Typographiy fonts
$font-primary: "Inter";
$font-secondary: "Times";

$container-max-widths: (
  sm: 540px,
  md: 820px,
  lg: 1140px,
  xl: 1200px,
  xxl: 1200px,
);
